@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.heading {
  color: #252b46;
  font-weight: 500;
  line-height: 1.2; }

.heading-1 {
  font-size: 3.2rem; }

.heading-2 {
  font-size: 2.4rem; }

.heading-3 {
  font-size: 2rem; }

p {
  color: #9194a1; }

.uppercase {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.4rem; }

.flex {
  display: flex; }

.flow {
  gap: var(--gap, 1.6rem); }

.container {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 111rem;
  margin: 0 auto; }
  .container.container-py {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem; }
    @media screen and (min-width: 62.375em) {
      .container.container-py {
        padding-top: 9.6rem;
        padding-bottom: 9.6rem; } }

.button {
  padding: 1.2rem 2rem;
  border: 0;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer; }
  .button--blue {
    background-color: #5368df;
    color: white; }
    .button--blue:hover {
      background-color: white;
      color: #5368df;
      outline: 2px solid #5368df;
      box-shadow: 0px 8px 16px rgba(1, 44, 214, 0.176); }
  .button--light {
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 12, 146, 0.124);
    color: #252b46; }
    .button--light:hover {
      background-color: white;
      color: #252b46;
      outline: 2px solid #252b46;
      box-shadow: 0px 8px 16px rgba(1, 44, 214, 0.176); }
  .button--red {
    color: white;
    background-color: #fa5757; }
    .button--red:hover {
      background-color: white;
      color: #fa5757;
      outline: 2px solid #fa5757;
      box-shadow: 0px 8px 16px rgba(186, 0, 0, 0.137); }
    .button--red a {
      color: white; }

.header .container {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  z-index: 6;
  cursor: pointer; }
  .header__logo.active {
    content: url(../images/logo-bookmark-white.svg); }

.header__overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252b46;
  opacity: 0;
  transition: all 0.2s ease;
  visibility: hidden; }
  .header__overlay.active {
    opacity: 1;
    visibility: visible; }

.header__links {
  z-index: 6;
  position: absolute;
  top: 12rem;
  width: calc(100% - 4.8rem);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  transform: translateY(-16px); }
  @media screen and (min-width: 62.375em) {
    .header__links {
      display: flex;
      align-items: center;
      position: relative;
      visibility: visible;
      opacity: 1;
      text-align: left;
      font-size: 1.4rem;
      width: auto;
      top: 0;
      left: 0;
      transform: none;
      gap: 4rem; } }
  .header__links.active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  .header__links li {
    padding: 1.6rem 0;
    border-bottom: 1px solid #9194a1;
    letter-spacing: 0.2rem; }
    @media screen and (min-width: 62.375em) {
      .header__links li {
        font-weight: 500;
        border-bottom: none;
        letter-spacing: normal; }
        .header__links li a:hover {
          color: #fa5757; } }
  .header__links li:first-child {
    border-top: 1px solid #9194a1; }
    @media screen and (min-width: 62.375em) {
      .header__links li:first-child {
        border-top: none; } }
  .header__links .button {
    padding: 0.8rem 0;
    margin-top: 2.4rem;
    font-size: 2rem;
    border: 2px solid white;
    background-color: transparent; }
    .header__links .button a {
      color: white; }
    @media screen and (min-width: 62.375em) {
      .header__links .button {
        font-size: 1.4rem;
        margin-top: 0;
        padding: 0.8rem 3.2rem;
        border: 0;
        background-color: #fa5757;
        color: white; }
        .header__links .button:hover {
          background-color: white; }
          .header__links .button:hover a {
            color: #fa5757; } }
  .header__links a {
    color: white; }
    @media screen and (min-width: 62.375em) {
      .header__links a {
        color: #252b46; } }

.header__hamburger {
  z-index: 6;
  cursor: pointer;
  display: inline-block; }
  @media screen and (min-width: 62.375em) {
    .header__hamburger {
      display: none; } }
  .header__hamburger.active span {
    background-color: white; }
  .header__hamburger.active .line-1 {
    transform: rotate(45deg); }
  .header__hamburger.active .line-2 {
    transform: scale(0); }
  .header__hamburger.active .line-3 {
    transform: rotate(-45deg); }
  .header__hamburger span {
    background-color: #252b46;
    height: 4px;
    width: 24px;
    display: block;
    transform-origin: 2px 2px;
    transition: all 0.3s ease; }
    .header__hamburger span:not(:last-child) {
      margin-bottom: 3px; }

.hero {
  overflow-x: hidden;
  position: relative; }
  .hero::before {
    content: "";
    position: absolute;
    top: 110px;
    right: -144px;
    border-radius: 1000px;
    width: 400px;
    height: 160px;
    background-color: #5368df; }
    @media screen and (min-width: 48em) {
      .hero::before {
        width: 720px;
        height: 370px;
        top: 120px;
        right: -204px; } }
    @media screen and (min-width: 62.375em) {
      .hero::before {
        top: 230px; } }
  .hero .container {
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2.4rem; }
    @media screen and (min-width: 62.375em) {
      .hero .container {
        flex-direction: row; } }
  .hero__image {
    position: relative; }
    @media screen and (min-width: 62.375em) {
      .hero__image {
        flex: 1;
        order: 2; }
        .hero__image img {
          max-width: 120%; } }
  .hero__text {
    display: flex;
    gap: 2.4rem;
    flex-direction: column; }
    @media screen and (min-width: 62.375em) {
      .hero__text {
        text-align: left;
        flex: 1;
        order: 1; } }
    .hero__text .button-container {
      display: flex;
      justify-content: center;
      gap: 1.6rem; }
      @media screen and (min-width: 62.375em) {
        .hero__text .button-container {
          justify-content: flex-start; } }

.features {
  position: relative; }
  .features::before {
    content: "";
    position: absolute;
    top: 520px;
    z-index: -1;
    left: -140px;
    border-radius: 1000px;
    width: 400px;
    height: 160px;
    background-color: #5368df; }
    @media screen and (min-width: 48em) {
      .features::before {
        content: "";
        position: absolute;
        top: 530px;
        z-index: -1;
        left: -160px;
        border-radius: 1000px;
        width: 510px;
        height: 270px; } }
    @media screen and (min-width: 62.375em) {
      .features::before {
        content: "";
        position: absolute;
        top: 470px;
        z-index: -1;
        left: -170px;
        border-radius: 1000px;
        width: 750px;
        height: 340px; } }
  .features .container {
    text-align: center;
    flex-direction: column;
    gap: 4.8rem; }
  @media screen and (min-width: 62.375em) {
    .features__intro {
      width: 60rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1.6rem; } }
  .features__tabs {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 62.375em) {
      .features__tabs {
        flex-direction: row;
        justify-content: center; } }
    .features__tabs .tab {
      display: none; }
    .features__tabs .tab:checked + .label {
      font-weight: 500; }
      .features__tabs .tab:checked + .label::after {
        opacity: 1; }
    .features__tabs .label {
      cursor: pointer;
      padding: 1.6rem 0;
      border-bottom: 1px solid #9194a1;
      position: relative; }
      .features__tabs .label:hover {
        color: #fa5757; }
      @media screen and (min-width: 62.375em) {
        .features__tabs .label {
          width: 28rem; } }
      .features__tabs .label:first-of-type {
        border-top: 1px solid #9194a1; }
        @media screen and (min-width: 62.375em) {
          .features__tabs .label:first-of-type {
            border-top: none; } }
      .features__tabs .label::after {
        content: "";
        position: absolute;
        width: 14rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        display: block;
        background-color: #fa5757;
        opacity: 0; }
        @media screen and (min-width: 62.375em) {
          .features__tabs .label::after {
            width: 100%; } }
  .features__content {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center; }
    @media screen and (min-width: 62.375em) {
      .features__content {
        flex-direction: row;
        gap: 12.8rem; }
        .features__content .content-image,
        .features__content .content-text {
          flex: 1; } }
    .features__content[data-index="2"], .features__content[data-index="1"] {
      display: none; }
    .features__content .content-text {
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
      @media screen and (min-width: 62.375em) {
        .features__content .content-text {
          text-align: left; } }
    @media screen and (min-width: 62.375em) {
      .features__content .content-image img {
        position: relative;
        left: -32px;
        max-width: 200%; } }
    .features__content .button {
      display: none; }
      @media screen and (min-width: 62.375em) {
        .features__content .button {
          align-self: flex-start;
          display: block; } }

.download .container {
  text-align: center;
  flex-direction: column;
  gap: 3.2rem; }
  @media screen and (min-width: 62.375em) {
    .download .container {
      gap: 6.4rem; } }

.download__intro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.download__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem; }
  @media screen and (min-width: 62.375em) {
    .download__cards {
      flex-direction: row;
      justify-content: center; } }
  .download__cards .card {
    border-radius: 1.6rem;
    gap: 4.8rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(14, 14, 89, 0.101);
    position: relative;
    max-width: 28rem; }
    @media screen and (min-width: 62.375em) {
      .download__cards .card:nth-child(2) {
        margin-top: 3.2rem; }
      .download__cards .card:last-child {
        margin-top: 6.4rem; } }
  .download__cards .version {
    font-size: 1.4rem;
    margin-top: 0.8rem; }
  .download__cards .line {
    background-image: linear-gradient(to right, rgba(14, 17, 36, 0.16) 20%, rgba(15, 18, 44, 0) 0%);
    background-position: center;
    background-size: 16px 4px;
    background-repeat: repeat-x;
    top: 240px;
    height: 8px;
    width: 100%;
    position: absolute; }

.faq .container {
  text-align: center;
  gap: 3.2rem;
  flex-direction: column; }
  @media screen and (min-width: 62.375em) {
    .faq .container {
      max-width: 60rem; } }

.faq__intro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.faq__content .accordion-container {
  text-align: left; }

.faq__content .accordion {
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .faq__content .accordion input[type="checkbox"] {
    display: none; }
  .faq__content .accordion input[type="checkbox"]:checked ~ .content {
    max-height: 100%;
    padding: 2.4rem 0; }
  .faq__content .accordion input[type="checkbox"]:checked ~ label::after {
    background-image: url(../images/icon-arrow-red.svg);
    transform: translateY(-50%) rotate(180deg); }
  .faq__content .accordion:first-child .label {
    border-top: 0; }
  .faq__content .accordion .label {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    padding: 1.6rem 0;
    border-top: 1px solid #9194a1; }
    .faq__content .accordion .label::after {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../images/icon-arrow.svg);
      width: 16px;
      height: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      transition: all 0.2s ease; }
  .faq__content .accordion .content {
    transition: all 0.2s ease-in;
    max-height: 0;
    color: #9194a1; }

.faq .button {
  align-self: center; }

.cta {
  background-color: #5368df; }
  .cta .container {
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
    max-width: 60rem;
    color: white; }
  .cta p {
    color: white; }
  .cta__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative; }
    @media screen and (min-width: 62.375em) {
      .cta__form {
        flex-direction: row;
        justify-content: center; } }
    .cta__form .icon-error {
      position: absolute;
      right: 16px;
      top: 14px;
      display: none; }
      .cta__form .icon-error.active {
        display: block; }
      @media screen and (min-width: 62.375em) {
        .cta__form .icon-error {
          right: 196px; } }
    .cta__form input[type="email"] {
      border: 0;
      padding: 1.4rem;
      border-radius: 0.8rem;
      font-size: 1.4rem; }
      .cta__form input[type="email"].invalid {
        outline: 2px solid #fa5757; }
      @media screen and (min-width: 62.375em) {
        .cta__form input[type="email"] {
          width: 32rem; } }

.footer {
  background-color: #252b46; }
  .footer .container {
    text-align: center;
    flex-direction: column;
    gap: 1.6rem; }
    @media screen and (min-width: 62.375em) {
      .footer .container {
        align-items: center;
        flex-direction: row;
        justify-content: space-between; } }
  .footer__logo {
    margin: 0 auto; }
    @media screen and (min-width: 62.375em) {
      .footer__logo {
        margin: 0;
        margin-right: 7.2rem; } }
  @media screen and (min-width: 62.375em) {
    .footer__links {
      display: flex;
      gap: 6.4rem;
      margin-right: auto; } }
  .footer__links li {
    text-transform: uppercase;
    line-height: 3.2;
    letter-spacing: 0.1rem; }
  .footer__links a {
    color: #9194a1; }
  .footer__socials {
    justify-content: center;
    gap: 4rem;
    display: flex; }
    @media screen and (min-width: 62.375em) {
      .footer__socials {
        align-items: center;
        gap: 2.4rem; } }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  color: #252b46;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif; }
  body.locked {
    overflow: hidden; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 1.8rem; } }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: #252b46; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
