.heading {
  color: $c-g-200;
  font-weight: 500;
  line-height: 1.2;
}

.heading-1 {
  font-size: $fs-32;
}
.heading-2 {
  font-size: $fs-24;
}
.heading-3 {
  font-size: $fs-20;
}

p {
  color: $c-g-100;
}

.uppercase {
  text-transform: uppercase;
  font-size: $fs-14;
  letter-spacing: 0.4rem;
}
